body   { background-color: #ffffff;
        margin:0px 5px 0px 5px;
        text-align:center;
        padding:5px;
       }

header { 
        padding: 5px;
        height: 100px;
        width: 100%;
        background-color: #4a6bb2;
        }

        ul {
           list-style-type:none;
           margin: 0;
           padding: 0px;
           overflow: hidden;
           background-color: #333333;
           }
              
           li   {
                float: left;
                margin-left: 20px
                }
              
           li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-family: sans-serif;
                }
                
           li a:hover {
                background-color: #111;
                }
#paraaf{ height:auto;
        padding:5px;
        width:800px;
        text-align:left;
        margin:auto;
}

.tabel  { 
        border:5px solid;border-color: #4a6bb2;border-radius: 4px;
        width: fit-content;
        height:auto;
        padding:5px;
        margin:auto;
        }
        td { 
        text-align:left;padding:5px
           }
        tr{ padding:5px }
input[type="text"], input[type="email"], textarea, select, button
                {
                display: block;
                margin: 15px 0px;
                width: 400px;
                box-sizing: border-box;
                border-radius: 4px;
                box-shadow: inset 2px 2px 5px #4a6bb2 ;
                }
textarea{
                height: 200px;
                background-color: #efefef;
                padding: 5px 4px;
                }
button:active{
                background-color:rgb(74, 107, 178) ;
                color: #ffffff;
                border-radius: 8px;
                box-shadow: inset 2px 2px 5px #333333;
                }

                

form{ 
        width: 25%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        margin:auto;}

footer { 
        position:fixed; 
        padding: 10px 10px 0px 10px;
        bottom: 0;
        height: 75px;
        width : 100%;
        background-color:#4a6bb2;
        text-align: center;
        color: #ffffff;
        }